:root {
  --color-primary: #f77f00;
  --color-secondary: #fcbf49;
  --color-acent: #003049;
  --color-headings: #590d22;
  --colors-body: #a4133c;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans", sans-serif;
  color: var(--colors-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
  body {
    font-size: 2.4rem;
  }
}

a {
  text-decoration: none;
}

/* Links */

.link-arrow {
  color: var(--color-acent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 0;
}

.link-arrow::after {
  content: ">";
  margin-left: 5px;
  font-size: 2.2rem;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
  .link-arrow::after {
    font-size: 1.7rem;
  }
}
