<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magni eos
      aut ut error ad.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati non
        explicabo, facere accusantium perferendis aperiam cum quae laboriosam
        dicta labore consectetur corporis veniam. Laboriosam, necessitatibus
        sint ea ab natus officia quis fuga quo eum odit voluptate ipsa iure
        assumenda accusamus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="/Images/easy.webp" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati non
        explicabo, facere accusantium perferendis aperiam cum quae laboriosam
        dicta labore consectetur corporis veniam. Laboriosam, necessitatibus
        sint ea ab natus officia quis fuga quo eum odit voluptate ipsa iure
        assumenda accusamus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="/Images/fast.webp" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati non
        explicabo, facere accusantium perferendis aperiam cum quae laboriosam
        dicta labore consectetur corporis veniam. Laboriosam, necessitatibus
        sint ea ab natus officia quis fuga quo eum odit voluptate ipsa iure
        assumenda accusamus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="/Images/wordpress.webp" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati non
        explicabo, facere accusantium perferendis aperiam cum quae laboriosam
        dicta labore consectetur corporis veniam. Laboriosam, necessitatibus
        sint ea ab natus officia quis fuga quo eum odit voluptate ipsa iure
        assumenda accusamus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__image" src="/Images/support.webp" alt="" />
  </article>
</section>
