<footer class="block block--dark footer">
  <div class="container grid footer__grid">
    <section class="collapsable collapsable--expanded footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">Products</h2>
        <img
          src="/icons/chevron.svg"
          class="icon collapsable__chevron"
          alt=""
        />
      </header>
      <div class="collapsable__content">
        <ul class="list list--item footer__list">
          <li class="list__item"><a href="#">Website Hosting</a></li>
          <li class="list__item">
            <a href="#">Free Automated Wordpress</a>
          </li>
          <li class="list__item"><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">Company</h2>
        <img
          src="/icons/chevron.svg"
          class="icon collapsable__chevron"
          alt=""
        />
      </header>
      <div class="collapsable__content">
        <ul class="list list--item footer__list">
          <li class="list__item"><a href="#">About</a></li>
          <li class="list__item">
            <a href="#">Affiliates</a>
          </li>
          <li class="list__item"><a href="#">Blogs</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">Support</h2>
        <img
          src="/icons/chevron.svg"
          class="icon collapsable__chevron"
          alt=""
        />
      </header>
      <div class="collapsable__content">
        <ul class="list list--item footer__list">
          <li class="list__item"><a href="#">Contact</a></li>
          <li class="list__item">
            <a href="#">Knowledge Base</a>
          </li>
          <li class="list__item"><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsable footer__section">
      <header class="collapsable__header">
        <h2 class="collapsable__heading footer__heading">Domains</h2>
        <img
          src="/icons/chevron.svg"
          class="icon collapsable__chevron"
          alt=""
        />
      </header>
      <div class="collapsable__content">
        <ul class="list list--item footer__list">
          <li class="list__item"><a href="#">Domian Checker</a></li>
          <li class="list__item">
            <a href="#">Domain Transfer</a>
          </li>
          <li class="list__item"><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="/Images/logo.svg" alt="Logo" />
      <p class="footer__copyright">Copyright 2021<br />Satya Prakash Sahu</p>
    </section>
  </div>
</footer>
