<nav class="nav collapsable">
    <a class="nav__brand"" href="/"> <img src="Images/logo.svg" alt="Buildify Logo" /></a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsable__content">
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domian</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </nav>